<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Esercizio_1_BD_SQL</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AllActors</servlet-name>
		<servlet-class>it.objectmethod.esercizio.servlet.AllActorsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllActors</servlet-name>
		<url-pattern>/show_actor_list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActorsFilm</servlet-name>
		<servlet-class>it.objectmethod.esercizio.servlet.ActorsFilmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActorsFilm</servlet-name>
		<url-pattern>/actors_by_film</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyActors</servlet-name>
		<servlet-class>it.objectmethod.esercizio.servlet.SetActorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyActors</servlet-name>
		<url-pattern>/set_actors</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModificationComplete</servlet-name>
		<servlet-class>it.objectmethod.esercizio.servlet.ConfirmActorModificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificationComplete</servlet-name>
		<url-pattern>/modification_complete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFilmListByActor</servlet-name>
		<servlet-class>it.objectmethod.esercizio.servlet.GetFilmByActorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFilmListByActor</servlet-name>
		<url-pattern>/show_film_list_by_actor</url-pattern>
	</servlet-mapping>
</web-app>